<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ProductCatalogSuite" verbose="1">

    <test name="API Tests">
        <classes>
            <class name="com.example.tests.ProductApiTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.example.tests.ProductUITest"/>
        </classes>
    </test>
    
     <test name="CucumberTests">
        <classes>
            <class name="com.example.demo.stepdefs.ProductApiTestRunner"/>
        </classes>
    </test>


</suite>
