<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="StatusCodePlaygroundSuite" verbose="1">
    <test name="CucumberFeatureTests">
        <classes>
          
          <class name="com.transflower.statuscodeplayground.CucumberTestRunner"/>
        </classes>

    </test>
    <test name="API test">
        <classes>
          <class name="com.transflower.statuscodeplayground.stepdefs.StatusSteps"/>
        </classes>
        
    </test>
</suite>
